.vcenter {
	display: flex;
	align-items: center;
}

.scroll {
	overflow: scroll;
	height: 300px;
}

.hcenter {
	margin: 0 auto;
}

main {
	padding-top: 50px;
}

html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

#wrapper {
	min-height: 100%;
	height: auto;
	margin: 0 auto -95px;
	padding: 0 0 95px;
}

.topPadding {
	padding-top: 15px;
}


/*NAV*/

nav {
	background: #364156;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
	transition: 0.3s ease-in-out;
}

.navbar-inverse .navbar-nav>li>a:hover {
	background-color: #212d40;
	color: #9d9d9d;
	font-weight: bolder;
}


/*MAIN*/

.main_fill {
	height: 700px;
	background: #B497FC;
}

.full-height {
	min-height: 100%;
	height: 100%;
}

.emp_month {
	border-radius: 20px;
	box-shadow: 0 0 30px rgba(0%, 0%, 0%, 0.5);
}


/* PAYROLL */

.payrollLabel {
	font-weight: bold;
}

.userActive {
	font-weight: bold;
	color: #11911A;
}

.userInactive {
	font-weight: bold;
	color: #AE1B1B;
}

.userOOO {
	font-weight: bold;
	color: #DD7404;
}

.payrollUnderline {
	text-decoration: underline;
}

.payrollWidth {
	width: 345px;
}

/*FOOTER*/

footer {
	padding-bottom: 10px;
}

.footer_text {
	font-size: 13px;
	color: #787878;
}


/*ADMIN PANEL*/

.openUserPanel {
	cursor: pointer;
}

/*TICKET*/
#msgBack {
	cursor: pointer;
	font-size: 26px;
	display: inline-block;
}

#msgBack:hover {
	color: #787878;
}

.msg_date {
	font-size: 13px;
	font-style: italic;
}

/*Admin Settings*/
.contrib_input {
	width: 80px;
}