.vcenter {
	display: flex;
	align-items: center;
}

.scroll {
	overflow: scroll;
	height: 300px;
}

.hcenter {
	margin: 0 auto;
}

main {
	padding-top: 50px;
}


/*NAV*/

nav {
	background: #364156;
}


/*MAIN*/

.main_fill {
	height: 700px;
	background: #B497FC;
}

.full-height {
	min-height: 100%;
	height: 100%;
}

.emp_month {
	border-radius: 20px;
	box-shadow: 0 0 30px rgba(0%, 0%, 0%, 0.5);
}


/* PAYROLL */

.payrollLabel {
	font-weight: bold;
}


/*FOOTER*/


/* footer {

} */


/*ADMIN PANEL*/

.openUserPanel {
	cursor: pointer;
}