main {
	padding-top: 50px;
}
/*NAV*/
nav {
	background: #364156;
}
/*MAIN*/
.banner {
	height: 400px;
	background: black;
}

.main_fill {
	height: 700px;
	background: #B497FC;
}

/*FOOTER*/
footer {

}

/*ADMIN PANEL*/
.openUserPanel {
	cursor: pointer;
}